.masonry-grid

{
    column-count: 3;
    column-gap: 1rem;
    width: 100%;

    
}

.masonry-grid__item {
    break-inside: avoid;
    padding: 5px 5px 5px 5px;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;
}


.cardSearch {

    break-inside: avoid;
    padding: 10px 10px 10px 10px;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;
}


