/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    /*background: url("/Images/BurgerBackground.jpeg");*/
    background-color: antiquewhite;
    height: auto;
    background-size: cover;
    background-position: center center;
    position: relative;
}


.titre
{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.titre h1
{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 60px;
}

.titre a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
      
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



.a-right {
    float: right;
}

/* Provide sufficient contrast against white background */
a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    background-color: transparent;
}
    
a:hover {
        background-color: gray;
        border-radius: 7px;
}

.btn {
    background-color: #56baed;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #56baed;
    border: none;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    background-color: dimgrey;
    border-radius: 3px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
}


