@model WebAppVSEAT.Models.StaffVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}

<hr />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <center>
            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <form method="post">
                        <div asp-validation-summary="All" class="text">

                        </div>
                        <div class="hide">
                            <input asp-for="IDSTAFF" type="hidden" class="form-control" />
                            <span asp-validation-for="IDSTAFF" class="text-danger"></span>
                        </div>
                        <div class="hide">
                            <input asp-for="IDCITY" type="hidden" class="form-control" />
                            <span asp-validation-for="IDCITY" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="NAMESTAFF" />
                            <input type="text" asp-for="NAMESTAFF" class="form-control fadeIn second" placeholder="name" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="SURNAMESTAFF" />
                            <input type="text" asp-for="SURNAMESTAFF" class="form-control fadeIn second" placeholder="surname" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="MAILSTAFF" />
                            <input type="text" asp-for="MAILSTAFF" class="form-control fadeIn second" placeholder="mail" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="PHONENUMBERSTAFF" />
                            <input type="text" asp-for="PHONENUMBERSTAFF" class="form-control fadeIn second" placeholder="phonenumber" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="ADDRESSSTAFF" />
                            <input type="text" asp-for="ADDRESSSTAFF" class="form-control fadeIn second" placeholder="address" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="CITYNAME" />
                            <input type="text" asp-for="CITYNAME" class="form-control fadeIn second" placeholder="city" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="USERNAMESTAFF" />
                            <input type="text" asp-for="USERNAMESTAFF" class="form-control fadeIn second" placeholder="username" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </center>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
