
@{
    ViewData["Title"] = "Error500";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<html>
<body>
    <center>
        <h1>Error during production</h1>

        <h2>This page is being managed, please comeback later</h2>
    </center>
</body>
</html>

