@model WebAppVSEAT.Models.ChangePasswordCustomerVM

@{
    ViewData["Title"] = "ChangePasswordCustomer";
}


<hr />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <center>
            <h2 class="align-items-center">Change password</h2>

            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <form method="post">
                        <div asp-validation-summary="All" class="text">

                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="PASSWORDCUSTOMER" />
                            <input type="password" asp-for="PASSWORDCUSTOMER" class="form-control fadeIn second" placeholder="password" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="NEWPASSWORD" />
                            <input type="password" asp-for="NEWPASSWORD" class="form-control fadeIn second" placeholder="new password" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="CONFIRMPASSWORD" />
                            <input type="password" asp-for="CONFIRMPASSWORD" class="form-control fadeIn second" placeholder="confirm password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </center>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

