@model WebAppVSEAT.Models.ChangePasswordCustomerVM

@{
    ViewData["Title"] = "ChangePasswordCustomer";
}

<h1>ChangePasswordCustomer</h1>

<h4>ChangePasswordCustomerVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePasswordCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PASSWORDCUSTOMER" class="control-label"></label>
                <input asp-for="PASSWORDCUSTOMER" class="form-control" />
                <span asp-validation-for="PASSWORDCUSTOMER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NEWPASSWORD" class="control-label"></label>
                <input asp-for="NEWPASSWORD" class="form-control" />
                <span asp-validation-for="NEWPASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONFIRMPASSWORD" class="control-label"></label>
                <input asp-for="CONFIRMPASSWORD" class="form-control" />
                <span asp-validation-for="CONFIRMPASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

