@model WebAppVSEAT.Models.CustomerVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="hide">
            <input asp-for="IDCUSTOMER" type="hidden" class="form-control" />
            <span asp-validation-for="IDCUSTOMER" class="text-danger"></span>
        </div>
        <div class="hide">
            <input asp-for="IDCITY" type="hidden" class="form-control" />
            <span asp-validation-for="IDCITY" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SURNAME" class="control-label"></label>
                <input asp-for="SURNAME" class="form-control" />
                <span asp-validation-for="SURNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERNAME" class="control-label"></label>
                <input asp-for="USERNAME" class="form-control" />
                <span asp-validation-for="USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONE" class="control-label"></label>
                <input asp-for="PHONE" class="form-control" />
                <span asp-validation-for="PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADDRESS" class="control-label"></label>
                <input asp-for="ADDRESS" class="form-control" />
                <span asp-validation-for="ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITYNAME" class="control-label"></label>
                <input asp-for="CITYNAME" class="form-control" />
                <span asp-validation-for="CITYNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAIL" class="control-label"></label>
                <input asp-for="MAIL" class="form-control" />
                <span asp-validation-for="MAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Change Password", "ChangePasswordCustomer")
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
