@model WebAppVSEAT.Models.BecomeStaffVM

@{
    ViewData["Title"] = "BecomeStaff";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="BecomeStaff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="mailFrom" class="control-label">From</label>
                <input asp-for="mailFrom" class="form-control" />
                <span asp-validation-for="mailFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subjectMail" class="control-label">Subject</label>
                <input asp-for="subjectMail" class="form-control" />
                <span asp-validation-for="subjectMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bodyMail" class="control-label">Your text</label>
                <textarea rows="8" cols="100" asp-for="bodyMail"></textarea>
                <span asp-validation-for="bodyMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
