@model WebAppVSEAT.Models.LoginVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<hr />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="h2LogIn active">Log in</div>
        <div class="row justify-content-center align-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text">

                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" asp-for="mail" />
                        <input type="text" asp-for="mail" name="mail" class="form-control fadeIn second" placeholder="mail" />
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" asp-for="password" />
                        <input asp-for="password" type="password" class="form-control fadeIn third" placeholder="password" />
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="fadeIn fourth" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
