@model IEnumerable<RestaurantVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="masonry-grid">

    @foreach (var item in Model)
    {
  
        <div class="masonry-grid__item">

            <h2>           
                @Html.ActionLink(item.NAMERESTAURANT, "Details", new { id = item.IDRESTAURANT })   
            </h2>
            <h3>
                @Html.DisplayFor(modelItem => item.ADDRESSRESTAURANT)
            </h3>
            <h3>
                @Html.DisplayFor(modelItem => item.CITYNAME)
            </h3>
        </div>
    }

</div>







